body {
    padding-bottom: 6rem;
    height: 100%;
    margin: 0px;
    margin-bottom: 20px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}